ul.social li {

	display:inline;
}
ul.social li a.facebook{
 background: url('../assets/images/facebook.png') no-repeat transparent;
 background-size: 37px 41px; 
 padding:12px 20px ;
margin: 1px;

}
ul.social li a.twitter{
 background: url('../assets/images/twitter.png') no-repeat transparent;
 background-size: 37px 41px; 
 padding:12px 20px ;
margin: 1px;
}
ul.social li a.rss{
 background: url('../assets/images/rss.png') no-repeat transparent;
  background-size: 37px 41px; 
 padding:12px 20px ;
margin: 1px;

}