body {
    background-repeat:no-repeat;
    background-position:top center;
    background-color:#d6d6d6;
    margin:40px;
}
table{
    border-collapse:collapse;
    border:1px solid #609ec8;
}
tr th{
	border-left: 1px solid #609ec8;
	border-bottom: 1px solid #609ec8;
	background-color:#84bee6;
	padding-top:10px;
	padding-bottom:10px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: normal;
	color:#ffffff;
}
tr td{
	border-bottom: 1px solid #609ec8;
	border-left: 1px solid #609ec8;
	font-size:11px;
}
ul{
	margin-left:-24px;
}
/**/
#tabbed_box_1 {
    position: relative;
	margin: 0px auto 0px auto;
    height:600px;
	width:855px;
}
/*------------------------------------------------------------*/
/*Шапка*/
.tabbed_box h1 {
    font-family:Open Sans Semibold, Helvetica, sans-serif;
    font-size:16.36pt;
    color:#ff3333;
    letter-spacing:0.7px;
    margin-bottom:10px;
}
#column_t1,#column_t2{
	float: left;
} 
#column_t1{
	width:248px;
}
#column_t2{
	width:130px;
	margin-left:380px;
	margin-bottom:10px;
}
#clear {
	clear: left;
}
.tabbed_area {
    position: absolute; 
	z-index: 2;
	background-color:#d6d6d6;
    padding:0px;
	margin-top:3px;
}
/*------------------------------------------------------------*/
/*Пересекающиеся линии*/
#gl {
	position: absolute;
	width:790px;
	top: 55px;
    border-top: 1px solid #ffffff;
}
#vl {
	position: absolute; 
	width:780px;
	height:510px;
	top: 45px;
	border-right: 1px solid #ffffff;
}
/*------------------------------------------------------------*/
/* Вкладки */
ul.tabs {
    margin:0px; padding:0px;
	margin-top:65px;
    margin-bottom:9px;
}
ul.tabs li {
    list-style:none;
    display:inline;
}
ul.tabs li a{
    background: rgb(72,150,203); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(72,150,203,1) 0%, rgba(22,116,179,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,150,203,1)), color-stop(100%,rgba(22,116,179,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(72,150,203,1) 0%,rgba(22,116,179,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(72,150,203,1) 0%,rgba(22,116,179,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(72,150,203,1) 0%,rgba(22,116,179,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(72,150,203,1) 0%,rgba(22,116,179,1) 100%); /* W3C */
    color:#ffffff;
	padding:10px 30px ;
    text-decoration:none;
    font-size:14px;
    font-family:Open Sans, Arial, Helvetica;
    font-weight:bold;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
ul.tabs li a.active {        		
	background: rgb(255,59,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,59,50,1) 0%, rgba(228,13,24,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,59,50,1)), color-stop(100%,rgba(228,13,24,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,59,50,1) 0%,rgba(228,13,24,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,59,50,1) 0%,rgba(228,13,24,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,59,50,1) 0%,rgba(228,13,24,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,59,50,1) 0%,rgba(228,13,24,1) 100%); /* W3C */
	color:#ffffff;
}
ul.tabs li a.visited{  
    background: rgb(139,116,147); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(139,116,147,1) 0%, rgba(139,116,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,116,147,1)), color-stop(100%,rgba(139,116,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(139,116,147,1) 0%,rgba(139,116,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(139,116,147,1) 0%,rgba(139,116,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(139,116,147,1) 0%,rgba(139,116,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(139,116,147,1) 0%,rgba(139,116,147,1) 100%); /* W3C */
    color:#ffffff;
}
/*------------------------------------------------------------*/
/*Контент*/
.content {
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	color:#448fda;
    background-color:#ffffff;
    padding:10px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border:1px solid #e295a5;
	height:335px;
	width:680px;
}
#content_2, #content_3{display: none;}
/*------------------------------------------------------------*/
/*Navigation 1 content*/
#content_1{
	padding-left:24px;
}
#content_1 h2{
	color:#006699;
	font-size:18px;
	font-weight: normal;
	letter-spacing:0.2px;
	margin-bottom:-10px;
	margin-top:0px;
}
#content_1 p{
	font-family:Arial, Helvetica, sans-serif;
	color:#ff0033;
	font-size:15px;
}
#content_1 p a:link{
	color:#ff0033;
}
#content_1 p a:visited{
	color:#ff0033;
}
.col_1{
	width:90px;
	text-align: center; 
 }
.col_2{
	width:140px;
	text-align: center; 
}
 tr td.col_3{
    padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
 }
.col_4{
	width:90px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:8px;
	padding-right:8px;
	line-height: 0.95;
}
#sq1{
	width:36px;
    height:36px;
	background:#9ecaf2;
    outline:1px solid #CDCDCD;
    border:1px solid #fff;
    
	
}
#sq2{
	width:36px;
    height:36px;
	background:#1f83c8;
    outline:1px solid #CDCDCD;
    border:1px solid #fff;
   
}
#sq3{
	width:36px;
    height:36px;
	background:#fe5a7f;
    outline:1px solid #CDCDCD;
    border:1px solid #fff;
    
}
/*------------------------------------------------------------*/
#content_2 h2, #content_3 h2{
	color:#ff3333;
	font-size:18px;
	font-weight: normal;
	letter-spacing:0.2px;
}
/*------------------------------------------------------------*/
/*Navigation 2 content*/
#content_2{
	padding-left:24px;
}
#gray_t{
	color:#999999;
	float:left;
	width:452px;
	margin-right:24px;
}
#content_2 img{
	float:left;
	width:200px;
}
/*------------------------------------------------------------*/
/*Navigation 3 content*/
#content_3{
	padding-left:24px;
	color:#448fb4;
}

#column1,#column2{
	float: left;
	font-size:11px;
}
#column1 p,#column2 p {
	text-align: justify;
}
#column1{
	width:427px;
 }
#list{
	font-size:13px;
	margin-bottom:20px;
}

#column2{
	width:218px;
	padding-left:20px;
	margin-top:-25px;
}
/*------------------------------------------------------------*/
#footer{
	color:#a8a8a8;
	font-size:10px;
	margin-top:520px;
}